*
{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; 
    background: radial-gradient(circle, rgb(157, 102, 102), rgb(229, 224, 142));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}      

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
}

.heart-container
{
    animation: pulse 2s infinite;
    filter: drop-shadow(0 0 15px rgb(250, 214, 214));
    font-size: 120px;
    cursor: pointer;

}

.heart
{
    color:blueviolet;
    text-shadow: 
    0 0 8px rgb(212, 96, 96),
    0 0 15px rgb(212, 96, 96),
    0 0 25 rgb(212, 96, 96),
    0 0 40px rgb(212, 96, 96);

}

.heart-container:hover
{
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(0 0 30px rgb(157, 51, 51))hue-rotate(45deg);
}

@keyframes pulse
{
    0%, 100%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}